<!DOCTYPE html>
<html lang="en">
{% load filters %}
<head>
    <meta charset="UTF-8">
    <title>模板变量</title>

    <style>
        .red{
            background-color: red;
        }

        .yellow{
            background-color: yellow;
        }

        .green{
            background-color: green;
        }
    </style>

</head>
<body>

{% for book in books %}
    {% if book.id <= 2 %}
        <li class="red">{{ book.btitle }} -- {{ book.bpub_date |date:'Y年-m月-d日' }}</li>
    {% elif book.id <= 5 %}
        <li class="yellow">{{ book.btitle }} -- {{ book.bpub_date |date:'Y年-m月-d日' }}</li>
    {% else %}
        <li class="green">{{ book.btitle }} -- {{ book.bpub_date|date:'Y年-m月-d日'  }}</li>
    {% endif %}


{% endfor %}


    自定义标签:
    {% if 4|mod %}
        是偶数
    {% endif %}


</body>
</html>