<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
        
        
        <context:annotation-config/>
        <context:component-scan base-package="transaction.service.**"/>
        
        <aop:aspectj-autoproxy expose-proxy="true"></aop:aspectj-autoproxy>
        
        <bean class="org.springframework.jdbc.core.JdbcTemplate">
        	<property name="dataSource"  ref="dataSource"/>
        </bean>
        
        <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        	<property name="dataSource" ref="dataSource"></property>
        </bean>
        
        <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        	<constructor-arg name="url" value="jdbc:mysql://lenovodb:3306/test"/>
        	<constructor-arg name="username" value="myuser"/>
        	<constructor-arg name="password" value="mypassword"/>
        </bean>
        
        
        <tx:annotation-driven transaction-manager="txManager"></tx:annotation-driven>
        
        
</beans>